@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 146 40% 98%;
    --foreground: 146 53% 2%;
    --muted: 116 32% 90%;
    --muted-foreground: 116 7% 37%;
    --popover: 146 40% 98%;
    --popover-foreground: 146 53% 2%;
    --card: 146 40% 98%;
    --card-foreground: 146 53% 2%;
    --border: 146 3% 93%;
    --input: 146 3% 93%;
    --primary: 146 52% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 116 52% 40%;
    --secondary-foreground: 0 0% 100%;
    --accent: 176 52% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 92% 28%;
    --destructive-foreground: 22 92% 88%;
    --ring: 146 52% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 146 47% 2%;
    --foreground: 146 15% 98%;
    --muted: 116 32% 10%;
    --muted-foreground: 116 7% 63%;
    --popover: 146 47% 2%;
    --popover-foreground: 146 15% 98%;
    --card: 146 47% 2%;
    --card-foreground: 146 15% 98%;
    --border: 146 3% 12%;
    --input: 146 3% 12%;
    --primary: 146 52% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 116 52% 40%;
    --secondary-foreground: 0 0% 100%;
    --accent: 176 52% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 92% 54%;
    --destructive-foreground: 0 0% 0%;
    --ring: 146 52% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
