@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 279 34% 100%;
    --foreground: 279 63% 2%;
    --muted: 99 17% 92%;
    --muted-foreground: 99 1% 35%;
    --popover: 279 34% 100%;
    --popover-foreground: 279 63% 2%;
    --card: 279 34% 100%;
    --card-foreground: 279 63% 2%;
    --border: 279 11% 95%;
    --input: 279 11% 95%;
    --primary: 279 3% 19%;
    --primary-foreground: 279 3% 79%;
    --secondary: 99 3% 19%;
    --secondary-foreground: 99 3% 79%;
    --accent: 99 3% 19%;
    --accent-foreground: 99 3% 79%;
    --destructive: 7 100% 24%;
    --destructive-foreground: 7 100% 84%;
    --ring: 279 3% 19%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 279 49% 4%;
    --foreground: 279 25% 97%;
    --muted: 99 17% 8%;
    --muted-foreground: 99 1% 65%;
    --popover: 279 49% 4%;
    --popover-foreground: 279 25% 97%;
    --card: 279 49% 4%;
    --card-foreground: 279 25% 97%;
    --border: 279 11% 14%;
    --input: 279 11% 14%;
    --primary: 279 3% 19%;
    --primary-foreground: 279 3% 79%;
    --secondary: 99 3% 19%;
    --secondary-foreground: 99 3% 79%;
    --accent: 99 3% 19%;
    --accent-foreground: 99 3% 79%;
    --destructive: 7 100% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 279 3% 19%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
